// font
@import url(../font/NotoSansKR/NotoSansKR.css);
@import url(../font/Pretendard/Pretendard.css);

$logo-font-stack: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
$default-font-stack: "Noto Sans KR", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", "Malgun Gothic", "맑은 고딕",
  "Apple SD Gothic Neo", "Dotum", "돋움", Arial, sans-serif;

$default-font-size: 14px;

// primary-color
$white: #fff;
$teal: #2aa7be;
$navy: #111d37;

// point-color
$point-color: (#1b69cf, #f13c51);

// gray-scale
$gray-100: #d9d9d9;
$gray-200: #acacac;
$gray-300: #888888;
$gray-400: #606060;
$gray-500: #333333;
$black: #000;

// box-shadow
$default-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
