.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: calc(100vh - 40px);
  background-color: $white;
  border-radius: 0 10px 10px 0;
  padding: 20px;
  box-shadow: $default-shadow;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;

  &.closed {
    width: 80px; // 닫혔을 때 아이콘만 표시
  }
}

.toggle-btn {
  background-color: $white;
  border: 1px solid $gray-200;
  box-shadow: $default-shadow;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  text-align: left;
  font-weight: 600;

  &:hover {
    background-color: $gray-100;
  }

  &.active {
    background-color: $gray-100;
    font-weight: 600;
  }

  .icon {
    font-size: 20px;
  }

  .text {
    transition: opacity 0.3s ease-in-out;
  }
}

/* 닫혔을 때 텍스트 숨기기 */
.sidebar.closed .menu-item .text {
  opacity: 0;
  width: 0;
  overflow: hidden;
}
