.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 40px);

  form {
    position: relative;
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 24px;
    border-radius: 16px;
    h4 {
      text-align: center;
      color: #333;
      margin-bottom: 16px;
    }

    .label-input-box {
      justify-content: space-between;
      align-items: center;
      label {
        flex: 1;
        min-width: 80px;
      }
      input {
        flex: 2;
        transition: all 0.3s ease;
        &:focus {
          border-color: $teal;
          outline: none;
        }
      }
    }

    .error-message {
      width: 100%;
      position: absolute;
      bottom: 75px;
      left: 50%;
      transform: translateX(-50%);
      color: nth($point-color, 2);
      text-align: center;
    }

    .signup-button {
      background-color: $teal;
      margin-top: 24px;
      color: $white;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $dark-teal;
      }

      &:disabled {
        background-color: gray;
        cursor: not-allowed;
      }
    }
  }
}
